/* ===== RESET ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  color: #1f2937;
  transition: 0.3s;
}

/* ===== HEADER ===== */
.header {
  text-align: center;
  padding: 25px 15px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.header p {
  margin-top: 6px;
  color: #475569;
}

/* ===== CARD ===== */
.card {
  background: white;
  max-width: 1200px;
  margin: auto;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

/* ===== CONTROLS ===== */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 12px 0;
}

select,
button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
}

select {
  background: #f1f5f9;
}

button {
  background: #4f46e5;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ===== ARRAY ===== */
#array {
  display: flex;
  align-items: flex-end;
  height: 360px;
  margin: 20px auto;
  overflow-x: auto;
  padding-bottom: 10px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.bar-value {
  font-size: 11px;
  margin-bottom: 4px;
  color: #334155;
}

.bar {
  width: 22px;
  border-radius: 8px;
  animation: pop 0.25s ease;
    transition:
    height 0.35s ease-out,
    background-color 0.25s ease-in-out;
}

/* ===== BAR STATE ===== */
.default { background: #6366f1; }
.compare { background: #f59e0b; }
.min { background: #ef4444; }
.swap { background: #14b8a6; }
.sorted { background: #22c55e; }


/* ===== SPEED ===== */
input[type=range] {
  width: 220px;
}

/* ===== STATUS ===== */
#statusText {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  color: #475569;
}

/* ===== STATS ===== */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.stats div {
  background: #f1f5f9;
  padding: 14px 20px;
  border-radius: 12px;
  text-align: center;
  min-width: 120px;
  font-weight: 600;
}

/* ===== LEGEND ===== */
.legend {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.legend span {
  padding: 6px 14px;
  border-radius: 10px;
  color: white;
  font-size: 13px;
}

/* ===== FOOTER ===== */
.footer {
  text-align: center;
  margin: 20px 0;
  font-size: 13px;
  color: #64748b;
}

/* ===== DARK MODE ===== */
body.dark {
  background: #0f172a;
  color: #e5e7eb;
}

body.dark .card {
  background: #1e293b;
}

body.dark .stats div {
  background: #334155;
}

body.dark select {
  background: #334155;
  color: white;
}

body.dark button {
  background: #4338ca;
}

body.dark #statusText {
  color: #cbd5f5;
}
